/lemmatized_data.csv
/tokenized_data.csv
/HR.joblib
/DESIGNER.joblib
/INFORMATION_TECHNOLOGY.joblib
/TEACHER.joblib
/ADVOCATE.joblib
/BUSINESS_DEVELOPMENT.joblib
/HEALTHCARE.joblib
/FITNESS.joblib
/AGRICULTURE.joblib
/BPO.joblib
/SALES.joblib
/CONSULTANT.joblib
/DEGITAL_MEDIA.joblib
/AUTOMOBILE.joblib
/CHEF.joblib
/FINANCE.joblib
/APPAREL.joblib
/ENGINEERING.joblib
/ACCOUNTANT.joblib
/CONSTRUCTION.joblib
/PUBLIC_RELATIONS.joblib
/BANKING.joblib
/ARTS.joblib
/AVIATION.joblib
