/eda_frequency_distribution_HR.png
/eda_frequency_distribution_DESIGNER.png
/eda_frequency_distribution_INFORMATION_TECHNOLOGY.png
/eda_frequency_distribution_TEACHER.png
/eda_frequency_distribution_ADVOCATE.png
/eda_frequency_distribution_BUSINESS_DEVELOPMENT.png
/eda_frequency_distribution_HEALTHCARE.png
/eda_frequency_distribution_FITNESS.png
/eda_frequency_distribution_AGRICULTURE.png
/eda_frequency_distribution_BPO.png
/eda_frequency_distribution_SALES.png
/eda_frequency_distribution_CONSULTANT.png
/eda_frequency_distribution_DIGITAL_MEDIA.png
/eda_frequency_distribution_AUTOMOBILE.png
/eda_frequency_distribution_CHEF.png
/eda_frequency_distribution_FINANCE.png
/eda_frequency_distribution_APPAREL.png
/eda_frequency_distribution_ENGINEERING.png
/eda_frequency_distribution_ACCOUNTANT.png
/eda_frequency_distribution_CONSTRUCTION.png
/eda_frequency_distribution_PUBLIC_RELATIONS.png
/eda_frequency_distribution_BANKING.png
/eda_frequency_distribution_ARTS.png
/eda_frequency_distribution_AVIATION.png
