/eda_frequency_distribution_HR.png
/eda_frequency_distribution_DESIGNER.png
/eda_frequency_distribution_INFORMATION_TECHNOLOGY.png
/eda_frequency_distribution_TEACHER.png
/eda_frequency_distribution_ADVOCATE.png
/eda_frequency_distribution_BUSINESS_DEVELOPMENT.png
/eda_frequency_distribution_HEALTHCARE.png
/eda_frequency_distribution_FITNESS.png
/eda_frequency_distribution_AGRICULTURE.png
/eda_frequency_distribution_BPO.png
/eda_frequency_distribution_SALES.png
/eda_frequency_distribution_CONSULTANT.png
/eda_frequency_distribution_DIGITAL_MEDIA.png
/eda_frequency_distribution_AUTOMOBILE.png
/eda_frequency_distribution_CHEF.png
/eda_frequency_distribution_FINANCE.png
/eda_frequency_distribution_APPAREL.png
/eda_frequency_distribution_ENGINEERING.png
/eda_frequency_distribution_ACCOUNTANT.png
/eda_frequency_distribution_CONSTRUCTION.png
/eda_frequency_distribution_PUBLIC_RELATIONS.png
/eda_frequency_distribution_BANKING.png
/eda_frequency_distribution_ARTS.png
/eda_frequency_distribution_AVIATION.png
/eda_count_plot_of_resume_categories.png
/eda_wordcloud_HR.png
/eda_wordcloud_DESIGNER.png
/eda_wordcloud_INFORMATION_TECHNOLOGY.png
/eda_wordcloud_TEACHER.png
/eda_wordcloud_ADVOCATE.png
/eda_wordcloud_BUSINESS_DEVELOPMENT.png
/eda_wordcloud_HEALTHCARE.png
/eda_wordcloud_FITNESS.png
/eda_wordcloud_AGRICULTURE.png
/eda_wordcloud_BPO.png
/eda_wordcloud_SALES.png
/eda_wordcloud_CONSULTANT.png
/eda_wordcloud_DIGITAL_MEDIA.png
/eda_wordcloud_AUTOMOBILE.png
/eda_wordcloud_CHEF.png
/eda_wordcloud_FINANCE.png
/eda_wordcloud_APPAREL.png
/eda_wordcloud_ENGINEERING.png
/eda_wordcloud_ACCOUNTANT.png
/eda_wordcloud_CONSTRUCTION.png
/eda_wordcloud_PUBLIC_RELATIONS.png
/eda_wordcloud_BANKING.png
/eda_wordcloud_ARTS.png
/eda_wordcloud_AVIATION.png
